# Default Snort Classifications

config classification: not-suspicious, Not Suspicious Traffic, 3
config classification: unknown, Unknown Traffic, 3

# Reconnaissance
config classification: attempted-recon, Attempted Information Leak, 2
config classification: successful-recon-limited, Information Leak, 2

# Denial of Service
config classification: attempted-dos, Attempted Denial of Service, 2
config classification: successful-dos, Denial of Service, 2

# Privilege Escalation
config classification: attempted-user, Attempted User Privilege Gain, 2
config classification: successful-user, User Privilege Gain, 2
config classification: attempted-admin, Attempted Administrator Privilege Gain, 1
config classification: successful-admin, Administrator Privilege Gain, 1

# Security Evasion
config classification: policy-violation, Security Policy Violation, 2
config classification: icmp-event, ICMP Event, 3

# Web Application Attacks
config classification: web-application-activity, Web Application Activity, 3
config classification: web-application-attack, Web Application Attack, 2

# Malware Activity
config classification: trojan-activity, Trojan Activity, 1
config classification: misc-activity, Misc Activity, 3